# Ignore project-specific environment variables
.env

# Ignore virtual environment
.venv/

model/data/*
model/results/*
model/configs/*
model/__pycache__

# Ignore model files
*.pth
*.log

# Ignore all csv files
*.csv

*.npy
*.pt

# Ignore .expert files
/.expert

# Node.js debug logs
npm-debug.log

# Ignore specific build artifacts and uploads
/priv/static/assets/
/priv/static/cache_manifest.json
/priv/static/uploads/*
/priv/static/results/*

# ----------------------------------------------------------------
# ### Elixir ###
# ----------------------------------------------------------------

# The directory Mix will write compiled artifacts to.
/_build

# If you run "mix test --cover", coverage assets end up here.
/cover

# The directory Mix downloads your dependencies sources to.
/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Compiled beam files
*.beam

# Ignore secret configuration
/config/*.secret.exs

# Elixir Language Server directory
.elixir_ls/

# ----------------------------------------------------------------
# ### Linux ###
# ----------------------------------------------------------------
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# ----------------------------------------------------------------
# ### macOS ###
# ----------------------------------------------------------------
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# iCloud generated files
*.icloud

# ----------------------------------------------------------------
# ### Phoenix ###
# ----------------------------------------------------------------
# gitignore template for Phoenix projects
# website: http://www.phoenixframework.org/

# Temporary files, for example, from tests.
/tmp

# Static artifacts
/node_modules
/assets/node_modules

# Installer-related files
/installer/_build
/installer/tmp
/installer/doc
/installer/deps
